<div class="container">
  <form method="post" action="/users/{{user._id}}?_method=PUT">
    <fieldset class="form-group mb-3">
      <legend>Profile</legend>
      <div class="input-group mb-3">
        <input type="email" name="email" id="email" class="form-control" placeholder="abc@example.com" 
        value="{{user.email}}"
        aria-label="User's login email"
        aria-describedby="change-email"
        readonly>
        <button class="btn btn-outline-secondary change-email" type="button" id="change-email">Change Email</button>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="name" placeholder="full name" value="{{user.name}}">
        <label for="name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="displayName" class="form-control" id="displayName" placeholder="display name"
          value="{{user.displayName}}">
        <label for="displayName">Display Name</label>
      </div>
    </fieldset>
    <div class="container d-flex flex-column mb-3 p-0">
      <button type="submit" class="btn btn-success mb-3">Save Changes</button>
      <a href="/users/{{user._id}}" class="btn btn-danger mb-3">Cancel</a>
    </div>
  </form>
</div>