<div class="container d-flex flex-column my-3 w-75">
  {{>message}}
  <form id="filter-form" class="sticky-top" method="get" action="/">
    <select class="form-select" name="categoryFilter">
      <option selected disabled hidden>select a cateogry to display</option>
      <option value="">Display ALL</option>
      <option value="Utilities" {{#if (isCategoryFilterSelected "Utilities")}}selected{{/if}}>Utilities</option>
      <option value="Groceries" {{#if (isCategoryFilterSelected "Groceries" )}}selected{{/if}}>Groceries</option>
      <option value="Transportation" {{#if (isCategoryFilterSelected "Transportation")}}selected{{/if}}>Transportation</option>
      <option value="Entertainment" {{#if (isCategoryFilterSelected "Entertainment")}}selected{{/if}}>Entertainment</option>
      <option value="Food" {{#if (isCategoryFilterSelected "Food")}}selected{{/if}}>Food</option>
      <option value="Others" {{#if (isCategoryFilterSelected "Others")}}selected{{/if}}>Others</option>
    </select>
  </form>
  <div class="d-flex my-3">
    <span class="me-4 fs-4">Total Amount:</span>
    <span class="fs-1 align-top text-danger" id="total-amount">{{totalAmount}}</span>
  </div>
  <a href="/records/new" class="btn btn-danger my-3 sticky-top">Add Expense</a>
  {{#if records}}
  <table class="table table-striped table-hover align-middle px-0">
    <tbody>
      {{#each records}}
      {{#with this}}
      <tr>
        <td class="text-center">
          <i class="fa-2xl {{categoryId.iconClass}}"></i>
        </td>
        <td>
          <div class="d-flex flex-column m-0 p-0">
          <span class="fs-5">{{name}}</span>
          <span class="fs-6">{{date}}</span>
          </div>
        </td>
        <td class="text-end">{{amount}}</td>
        <td class="text-end">
          <div class="d-flex justify-content-end">
          <a href="/records/{{_id}}/edit" class="btn btn-outline mx-1">
            Edit
          </a>
          <form method="post" action="/records/{{_id}}?_method=DELETE">
            <button type="submit" class="btn btn-outline mx-1 button-delete-expense">
              Delete
            </button>
          </form>
          </div>
        </td>
      </tr>
      {{/with}}
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa-solid fa-circle-info"></i>
    <div class="ms-2">There is no record yet</div>
  </div>
  {{/if}}
</div>
<script src="/javascripts/index.js"></script>